# Django secrets
SECRET_KEY=super-insecure-django-key
DEBUG=True
ALLOWED_HOSTS=*
ENV_NAME=DEV

# Database URL
# This is the URL format for connecting to a PostgreSQL database
DATABASE_URL=postgresql://postgres:[password]@url-to-database.com:5432/postgres

# Super user information
SUPERUSER_EMAIL=superuser@example.com

# Google OAuth settings
GOOGLE_OAUTH_WEB_CLIENT_ID=your-web-client-id
GOOGLE_OAUTH_ALLOWED_DOMAIN=optional-allowed-domain.com
